@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura.ttf");
}

@font-face {
  font-family: "Futura-Book";
  src: url("../fonts/FuturaBook.ttf");
}

@font-face {
  font-family: "Futura-Book-Italic";
  src: url("../fonts/FuturaBookItalic.ttf");
}

@font-face {
  font-family: "Futura-Extra-Black";
  src: url("../fonts/FuturaExtraBlack.ttf");
}

@font-face {
  font-family: "Futura-Bold";
  src: url("../fonts/FuturaHeavy.ttf");
}

@font-face {
  font-family: "Futura-Light";
  src: url("../fonts/FuturaLight.ttf");
}

@font-face {
  font-family: "Futura-Light-Italic";
  src: url("../fonts/FuturaLightItalic.ttf");
}
