#home {
  width: 100%;
  padding-top: var(--navbar-height);
  background-image: url("../../assets/images/home/banner/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  .home_container {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;

    .title {
      color: var(--color-white, #FAFAFA);
      text-align: center;
      font-family: "Futura-Extra-Black";
      font-size: 80px;
      font-style: italic;
      font-weight: 700;
      line-height: normal;
  
      span {
        color: var(--abes-com-ar-cinnabar, #E9464F);
        text-align: center;
        font-size: 128px;
        font-style: italic;
        font-weight: 700;
      }
    }
    .intro {
      color: var(--color-white, #FAFAFA);
      text-align: center;
      font-family: "Futura-Light";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      margin-bottom: 64px;
      text-align: center;

      span {
        text-transform: uppercase;
        color: var(--color-white, #FAFAFA);
        font-family: "Futura-Bold";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
        text-transform: uppercase;
      }
    }
    .button_home {
      cursor: pointer;
      background: var(--abes-com-ar-cinnabar, #E9464F);
      padding: 24px;
      display: flex;
      justify-content: center;
      outline: none;
      border: none;
      align-items: center;
      gap: 10px;
      color: var(--color-white, #FDFDFD);
      font-family: "Futura-Bold";
      text-transform: uppercase;
      font-size: 18px;
      margin-bottom: 166px;
    }
  }
}